.headerContent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.logoContainer {
  margin-top: 1rem;
}

.logo {
  width: 90%;
  height: auto;
  margin-left: 40%;
}

.navContainer {
  flex: 1 1 auto;
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 768px) {
  .logo {
    width: 60%; 
    margin-left: 20%; 
  }
  
  .logoContainer {
    margin-top: 0.5rem; 
  }
}


@media (max-width: 480px) {
  .logo {
    width: 50%; 
    margin-left: 15%;
  }
}
