.searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column; 
}

.searchRow {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;  
}

.srcHotel {
    width: 150px;
    margin-right: 10px;
    border-radius: 50px;
    background-color: #F4E6D7;
}



.srcButton {
    border-radius: 50px;
    background-color: #FE3301;
    color: white;
    border: none;
    margin-top: 20px;
    padding: 5px 30px;
    font-size: 25px;
    transition: background-color 0.3s ease;
}

.srcButton:hover {
    background-color: #F4E6D7;
}

/* Mobile view - Media queries */
@media (max-width: 768px) {
    .searchRow {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .srcHotel {
        width: 100%;
        max-width: 740px;
        margin-right: 0;
        padding: 12px 15px;
    }

    .srcButton {
        width: 100%;
        max-width: 740px;
        padding: 6px 30px;
        margin-top: 20px;
    }
}