body {
  margin: 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body #root {
  height: 100%;
  background-color: #FFFAEF;
  margin: 0;
  padding: 0;
}

@media (min-width: 992px) {
  .container-fluid {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



