.Nav {
    background-color: #FFFAEF;
    padding: 0;
}

.navbar {
  justify-content: flex-end;
  margin-top: 2%;
}

.navbar .container-fluid {
  justify-content: flex-end;
}

.orderRadius {
  border-radius: 50px;
}